<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'pilot/style.css' %}">
        <title>Finhealth Prototype</title>
    </head>
    <body>
	{% csrf_token %}
  <table>
    <tr class="transaction-list-header">
      <th>Date</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Category</th>
      <th>Account</th>
    </tr>
    {% for transaction in transactions %}
    <tr class="transaction-row" id="trans-id" data-transid="{{transaction.id}}">
      <td class="transaction-td-date">{{transaction.date}}</td>
      <td class="transaction-td-name">{{transaction.name}}</td>
      <td class="transaction-td-amount">{{transaction.amount}}</td>
      <td class="transaction-td-category">{{transaction.category}}</td>
      <td class="transaction-td-account">{{transaction.account.name}}</td>
    </tr>
    {% endfor %}
  </table>
   </body>
</html>
