<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'pilot/style.css' %}">
        <title>Finhealth Prototype</title>
    </head>
    <body>
	{% csrf_token %}
  <table>
    <tr class="transaction-list-header">
      <th>Date</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Category</th>
      <th>Account</th>
    </tr>
    {% for transaction in transactions %}
    <tr class="transaction-row" id="trans-id" data-transid="{{transaction.id}}">
      <td class="transaction-td-date">{{transaction.date}}</td>
      <td class="transaction-td-name">{{transaction.name}}</td>
      <td class="transaction-td-amount">{{transaction.amount}}</td>
      <td class="transaction-td-category">
        <select
          name="builtin_cat_id"
          id="category-select"
          onchange="updateTransCat('{{transaction.id}}', this.value);"
        >
          <option value="{{transaction.builtin_category.id}}">
            {{transaction.builtin_category.description}}
          </option>
          {% for category in builtin_categories %}
          <option value="{{category.id}}">{{ category.description }}</option>
          {% endfor %}
        </select>
      </td>
      <td class="transaction-td-account">
        {{transaction.account.official_name}}
      </td>
    </tr>
    {% endfor %}
  </table>
   </body>
</html>
