<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'pilot/style.css' %}">
        <title>Finhealth Prototype</title>
    </head>
    <body>
	{% csrf_token %}
	{{ data }}
	<table>
		{% for transactions in data %}
			<tr>
				<td>{{ transactions.date }}</td>
				<td>{{ transactions.name }}</td>
				<td>{{ transactions.category }}</td>
				<td>{{ transactions.amount }}</td>
			</tr>	
		{% endfor %}
	</table>
   </body>
</html>
